[submodule "domains/quanttide-data"]
	path = domains/quanttide-data
	url = https://github.com/quanttide/quanttide-data.git
[submodule "assets/quanttide-specification"]
	path = assets/quanttide-specification
	url = https://github.com/quanttide/quanttide-specification.git
[submodule "assets/quanttide-profile"]
	path = assets/quanttide-profile
	url = https://github.com/quanttide/quanttide-profile.git
[submodule "assets/quanttide-handbook"]
	path = assets/quanttide-handbook
	url = https://github.com/quanttide/quanttide-handbook.git
[submodule "assets/quanttide-platform"]
	path = assets/quanttide-platform
	url = https://github.com/quanttide/quanttide-platform.git
[submodule "default/quanttide-founder"]
	path = default/quanttide-founder
	url = https://github.com/quanttide/quanttide-founder.git
[submodule "default/quanttide-tech"]
	path = default/quanttide-tech
	url = https://github.com/quanttide/quanttide-tech.git
[submodule "assets/quanttide-journal"]
	path = assets/quanttide-journal
	url = https://github.com/quanttide/quanttide-journal.git
[submodule "domains/quanttide-asset"]
	path = domains/quanttide-asset
	url = https://github.com/quanttide/quanttide-asset.git
[submodule "assets/quanttide-tutorial"]
	path = assets/quanttide-tutorial
	url = https://github.com/quanttide/quanttide-tutorial.git
[submodule "domains/quanttide-think"]
	path = domains/quanttide-think
	url = https://github.com/quanttide/quanttide-think.git
[submodule "domains/quanttide-media"]
	path = domains/quanttide-media
	url = https://github.com/quanttide/quanttide-media.git
[submodule "domains/quanttide-knowl"]
	path = domains/quanttide-knowl
	url = https://github.com/quanttide/quanttide-knowl.git
[submodule "domains/quanttide-devops"]
	path = domains/quanttide-devops
	url = https://github.com/quanttide/quanttide-devops.git
[submodule "domains/quanttide-agent"]
	path = domains/quanttide-agent
	url = https://github.com/quanttide/quanttide-agent.git
[submodule "domains/quanttide-code"]
	path = domains/quanttide-code
	url = https://github.com/quanttide/quanttide-code.git
[submodule "assets/quanttide-roadmap"]
	path = assets/quanttide-roadmap
	url = https://github.com/quanttide/quanttide-roadmap.git
[submodule "domains/quanttide-meta"]
	path = domains/quanttide-meta
	url = https://github.com/quanttide/quanttide-meta.git
[submodule "domains/quanttide-econ"]
	path = domains/quanttide-econ
	url = https://github.com/quanttide/quanttide-econ.git
[submodule "domains/quanttide-finance"]
	path = domains/quanttide-finance
	url = https://github.com/quanttide/quanttide-finance.git
[submodule "domains/quanttide-innov"]
	path = domains/quanttide-innov
	url = https://github.com/quanttide/quanttide-innov.git
[submodule "domains/quanttide-hr"]
	path = domains/quanttide-hr
	url = https://github.com/quanttide/quanttide-hr.git
[submodule "domains/quanttide-write"]
	path = domains/quanttide-write
	url = https://github.com/quanttide/quanttide-write.git
