[submodule "domains/quanttide-data"]
	path = domains/quanttide-data
	url = https://github.com/quanttide/quanttide-data
[submodule "assets/specification"]
	path = assets/specification
	url = https://github.com/quanttide/quanttide-specification.git
[submodule "profile"]
	path = profile
	url = https://github.com/quanttide/quanttide-profile.git
[submodule "asset/profile"]
	path = asset/profile
	url = https://github.com/quanttide/quanttide-profile.git
